body {
    font-family: "Verdana";
    text-transform: uppercase;
    margin: 0;
}


/*
@media screen and (min-width: 1px) {
    header {
        background-image: url('../img/man-1.jpg');
        max-height: 99vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        color: white;
        position: absolute;
    }
    #naglowek {
        padding-top: 8vh;
        padding-left: 80vh;
    }
}
*/

@media screen and (min-width: 992px) {
    header {
        background-image: url('../img/man-2.jpg');
        min-height: 70vh;
        min-width: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        color: white;
        font-size: 0.88em;
    }
    #naglowek {
        position: absolute;
        padding-top: 5vh;
        right: 5vh;
    }
}

@media screen and (min-width: 1170px) {
    header {
        background-image: url('../img/man-1.jpg');
        min-height: 98vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        color: white;
    }
    #naglowek {
        position: relative;
        padding-top: 40vh;
        padding-left: 8vh;
    }
}
