body {
    background-image: url('../img/background.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.bifor:target p::before {
    content: "klikłeś! ";
    color: red;
}

.aft p::after {
    content: " po elemencie";
    color: blue;
}

.fl p::first-letter {
    color: green;
}

.line p::first-line {
    background-color: yellow;
}

.select p::selection {
    background-color: deeppink;
}

.select {
    padding-bottom: 300px;
}

a:link {
    color: orange;
    text-decoration: none;
}

a:visited {
    color: #cc2121;
}

a:hover {
    text-decoration: underline;
}

#lista {
    padding-bottom: 50px;
}

#lista div:nth-child(even) {
    background-color: #f4c655;
}

#lista div:nth-child(odd) {
    background-color: #ab29f0;
}

#lista div:nth-child(5n+4) {
    background-color: darkolivegreen;
}

div[suma] {
    height: 30px;
}

div[suma^="15"] {
    background-color: red;
}

div[suma$="80"] {
    color: blue;
}

div[suma="3000"] {
    background-color: blue;
}

#blok {
    display: block;
    background-color: #4ace87;
    margin-bottom: 10px;
}

.lina {
    display: inline;
}

.niebieski {
    background-color: #7fc4ff;
}

.zielony {
    background-color: forestgreen;
}

#linoblok li {
    height: 100px;
    width: 100px;
    border: 3px dashed orange;
    background-color: rgba(255, 164, 0, 0.28);
    display: inline-block;
    margin: 10px;
}

#floty div {
    padding-bottom: 10px;
}

.fll {
    float: left;
    margin: 10px;
}

.flr {
    float: right;
}

#floty p:last-child {
    clear: both;
}

.ower {
    width: 200px;
    height: 108px;
    margin-bottom: 30px;
}

#visible {
    overflow: visible;
    border: 2px solid red;
}

#hidden {
    overflow: hidden;
    border: 2px dashed pink;
}

#tes1 {
    overflow: scroll;
    border: 2px dotted orange;
}

#tes0 {
    overflow: auto;
    border: 2px solid green;
}

.bbox {
    border: 30px solid blue;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: inline-block;
}

#inner {
    box-sizing: content-box;
    background-color: aquamarine;
}

#outer {
    box-sizing: border-box;
    background-color: darkkhaki;
}

#respons {
    font-size: 0;
}

.insidebox {
    box-sizing: border-box;
    display: inline-block;
    border: 8px solid orange;
    padding: 50px 50px 100px 50px;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 699px) {
    .insidebox {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .insidebox {
        width: 50%;
    }
}

@media (min-width: 1170px) {
    .insidebox {
        width: 25%;
    }
}
